[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requeststhrottler = "*"
google-api-python-client = "*"
"oauth2client" = "*"
gspread = "*"

[dev-packages]
pylint = "*"
rope = "*"

[requires]
python_version = "3.7"
